*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 980px;
	margin:auto;
	background: #333;
}
.sidebar{
	float: left;
	width: 300px;
}
.content{
	float: left;
	width: 680px;
	overflow: hidden;
}
.content .row{
	overflow:hidden!important;
}
.menu{
	list-style: none;
}
.menu ul{
	list-style: none;
	padding-left: 20px;
}
.menu li{
	list-style: none;
}